gift-choice{
    .img-card{
        text-align: center;
        vertical-align: middle;
        background-image: url('../../assets/img/bg.png');
        background-repeat: repeat;
        height: 50vh;
    }
    .product-name{
        font-size: 3rem;
        text-align: center;
        color: map-get($colors, primary);
    }
    .ion-label-text{
        color: map-get($colors, primary);
        font-size: 1.5rem;
    }
    input{
        text-align: center;        
    }
    ion-content, ion-item{
        background-color: white;
        background-image: url('../../assets/img/bg.png');
        background-repeat: repeat;
    }
    .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
}
