gift-choice{
    .img-div{
        text-align: center;
        vertical-align: middle;
        background-color: black;
        height: 50vh;
    }
    .product-name{
        font-size: 3.5rem;
        text-align: center;
    }
    ion-label{
        text-align: center;
        font-size: 1.8rem;
    }
    input{
        text-align: center;        
    }
}
